body {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url(/static/img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5); 
    background-blend-mode: overlay;
    justify-content: center;
    align-items: center;
}

.header-top {
    display: flex;
}

.logo-header {
    height: 55px;
    margin-right: 100px;
}

.nav {
    display: flex;
    padding: 20px;
}

.links {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.links a, .toggle {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

.toggle {
    margin-top: 10px;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.links-dropdown {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    background-color: white;
    list-style-type: none;
    padding: 1px;   
    z-index: 1000; /* Make it appears above other elements */
}

#toggle:checked ~ .links-dropdown,
.dropdown:hover .links-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links-dropdown li {
    margin: 0;
    padding: 10px;
}

.links-dropdown li:hover {
    box-shadow: 0 2px 0 rgb(178, 181, 176);
    width: 100%;
}

.btn {
    width: 160px;
    padding: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-weight: bold;
    background-color: black;
}

.title {
    font-family: Montserrat, sans-serif;
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 50px;    
}

.treatments-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.treatments-page p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-align: justify;
    margin: 35px;
    font-weight: 500;
    margin-bottom: 70px;
}

.treatments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.treatments img {
    height: 300px;
    width: 300px;
    opacity: 0.5;
    margin-bottom: 20px;
}

.treatments h2 {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 10px;
    color: black;
}

i {
    margin-left: 8px; 
}

.bi-arrow-right-short {
    font-size: 26px;
    color: black;
}

.treatment-option a {
    display: block;
    text-decoration: none;
}

.treatment-option a:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 203);
    font-family: Montserrat, sans-serif;
    padding: 60px;
}

.contact-container h2 {
    font-size: 24px;
    font-weight: 400;
}

.border-line {
    border-bottom: 2px solid rgb(178, 181, 176);
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.icon-header {
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}

.contact-grid h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-grid p {
    font-size: 14px;
    font-weight: 500;
}

.contact-grid a {
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

.contact-grid a:hover {
    color: darkgray;
}

.address, .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.footer-background {
    background-color: #222224;
    padding: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    height: 150px;
    margin-right: 200px;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    margin-top: 70px;
}

.footer-links a {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.footer-links a:hover {
    text-decoration: none;
    box-shadow: 0 2px 0 white;
}

.social-footer {
    margin-top: 70px;
}

.social-footer a {
    color: white;
}

.image-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.image-footer img {
    height: 70px;
}
