body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url(/static/img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5); 
    background-blend-mode: overlay;
    justify-content: center;
    align-items: center;
}

.header-top {
    display: flex;
}

.logo-header {
    height: 55px;
    margin-right: 100px;
}

.toggle-menu {
    display: none;
}

.nav {
    display: flex;
    padding: 20px;
}

.links {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.links a, .toggle {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

.toggle {
    margin-top: 10px;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.links-dropdown {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    background-color: white;
    list-style-type: none;
    padding: 1px;   
    z-index: 1000; /* Make it appears above other elements */
}

#toggle:checked ~ .links-dropdown,
.dropdown:hover .links-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links-dropdown li {
    margin: 0;
    padding: 10px;
}

.links-dropdown li:hover {
    box-shadow: 0 2px 0 rgb(178, 181, 176);
    width: 100%;
}

.btn {
    width: 160px;
    padding: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-weight: bold;
    background-color: black;
}

.title {
    font-family: Montserrat, sans-serif;
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 50px;
    
}

.treatment-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
    box-sizing: border-box;
}

.specific-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    gap: 20px;
    width: 100%;
}

.specific-info img {
    height: 350px;
    width: 570px;
}

.specific-info p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-align: justify;
    max-width: 100%;
    font-weight: 500;
}

.golden-line {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid goldenrod;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
}

.types-treatment {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: Montserrat, sans-serif;
    gap: 30px;
}

.types {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.types h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.types p {
    font-size: 14px;
    text-align: justify; 
}

.specs-background {
    display: flex;
    background-color: rgb(247, 247, 247);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.treatment-specs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 100px;
}

.specs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
}

.specs h2, .specs p{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-align: center;
}

.specs i {
    color: goldenrod;
    font-size: 40px;
    margin-bottom: 10px;
}

.specs h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.form {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
    box-sizing: border-box;
}

.form h2, .form fieldset {
    width: 600px;
}

.form h2 {
    font-size: 35px;
    font-weight: 400;
}

.form-fields input, .form-fields select {
    height: 50px;
    margin-bottom: 10px;
    border: none;
}

.button button {
    border-radius: 15px;
    background-color: goldenrod;
    border: none;
}

.footer-background {
    background-color: #222224;
    padding: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    height: 150px;
    margin-right: 200px;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    margin-top: 70px;
}

.footer-links a {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.footer-links a:hover {
    text-decoration: none;
    box-shadow: 0 2px 0 white;
}

.social-footer {
    margin-top: 70px;
}

.social-footer a {
    color: white;
}

.social-footer i {
    margin-left: 8px; 
}

.image-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.image-footer img {
    height: 70px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header-top {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    .logo-toggle {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .nav {
        display: none;
        position: absolute;
        top: 100%; /* Ensures it appears below the header */
        left: 0;
        width: 100%;
        background-color: white; /* Set the background color for visibility */
        z-index: 1000;
        padding: 0;
    }

    .links {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 20px;
    }

    .links li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .links a {
        margin: 0;
    }

    .btn {
        width: 700px;
    }

    .toggle-menu {
        display: flex;
        align-items: flex-end;
        font-size: 24px;
        margin-right: 30px;
    }

    .title {
        margin-top: 20px;
        z-index: 1;
        position: relative;
    }

    #toggle-menu:checked ~ .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .toggle {
        margin-left: 40px;
    }

    .links-dropdown {
        left: auto;
    }

    .specific-info {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 70%;
    }

    .golden-line {
        max-width: 90%;
    }

    .types-treatment {
        max-width: 95%;
        gap: 10px;
    }

    .specs-background {
        max-width: 100%;
    }

    .treatment-specs {
        max-width: 90%;
        gap: 50px;
    }

    .form {
        margin-left: 30px;
    }

    .button button{
        max-width: 30%;
    }

    .footer {
        max-width: 750px;
        box-sizing: border-box;
        align-items: flex-start;
    }

    .footer-background {
        overflow: auto;
    }

    .logo-footer {
        height: 120px;
        margin-right: 60px;
        margin-top: 30px;
    }

    .footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 70px;
        row-gap: 10px;
    }

    .social-footer {
        grid-column-start: auto;
    }
}

@media (max-width: 767px) {
    .header-top {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        background-color: white;
    }
    
    .logo-toggle {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .nav {
        display: none;
        position: absolute;
        top: 100%; /* Ensures it appears below the header */
        left: 0;
        width: 100%;
        background-color: white; /* Set the background color for visibility */
        z-index: 1000;
        padding: 0;
    }
    
    .links {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 20px;
        width: 100%;
    }
    
    .links li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .links a {
        margin: 0;
    }
    
    .dropdown {
        display: flex;
    }
    
    .title {
        font-size: 32px;
    }
    
    .btn {
        width: 700px;
    }
    
    .toggle-menu {
        display: flex;
        align-items: flex-end;
        font-size: 24px;
        margin-right: 30px;
    }
    
    .title {
        margin-top: 20px;
        z-index: 1;
        position: relative;
    }
    
    #toggle-menu:checked ~ .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .toggle {
        margin-left: 40px;
    }
    
    .links-dropdown {
        left: auto;
    }

    .treatment-info {
    }
    
    .specific-info {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 90%;
    }

    .specific-info p {
        max-width: 95%;
    }

    .specific-info img {
        max-width: 95%;
    }

    .golden-line {
        max-width: 90%;
    }

    .types-treatment {
        grid-template-columns: 1fr;
        max-width: 90%;
    }

    .specs-background {
        max-width: 100%;
    }

    .treatment-specs {
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }

    .form {
        margin-left: 30px;
        width: 100%;
    }

    .form h2 {
        font-size: 24px;
        max-width: 80%;
    }

    .form-fields input, .form-fields select {
        width: 50%;
    }

    .button button{
        max-width: 30%;
    }

    .footer {
        display: grid;
    }

    .footer-background {
        overflow: auto;
    }

    .logo-footer {
        text-align: center;
        height: 120px;
        margin-right: auto;
        margin-top: 30px;
    }

    .footer-menu {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        column-gap: 70px;
        row-gap: 10px;
    }

    .social-footer {
        grid-column-start: auto;
    }

}
