<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamento Botox</title>

    <link rel="icon" href="/static/img/santiclinic-logo.png">

    <!--Montserrat font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!--Bootstrap Flatly-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    
    <!--Bootstrap Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/treatments-pages.css">
</head>
<body>
    <div class="header">
        <div class="header-top">
            <a href="/templates/index.html"><img src="/static/img/santiclinic-logo.png" alt="santiclinic-logo" class="logo-header"></a>
            <nav class="nav">
                <ul class="links">
                    <li><a href="/templates/index.html">HOME</a></li>
                    <li><a href="/templates/sobre.html">SOBRE NÓS</a></li>
                    <li class="dropdown">
                        <label for="toggle" class="toggle">PROCEDIMENTOS<i class="bi bi-chevron-down"></i>
                        <input type="checkbox" id="toggle" hidden>
                        <ul class="links-dropdown">
                            <li><a href="/templates/tratamentos.html">TRATAMENTOS</a></li>
                            <li><a href="">MICROCIRURGIA</a></li>
                        </ul>
                    </li>
                    <li><a href="/templates/contactos.html">CONTACTOS</a></li>
                    <li><a href="https://santiskin.com/">SANTISKIN</a></li>
                    <li><a href=""><button type="button" class="btn btn-primary">Marcar Consulta</button></a></li>
                </ul>
            </nav> 
        </div> 
        <div class="header-title">
             <h1 class="title">TRATAMENTO BOTOX</h1>
        </div>   
    </div>

    <div class="treatment-info">
        <div class="specific-info">
            <p>
                <strong>Botox</strong>, também conhecido como <strong>toxina botulínica</strong>, é utilizado na medicina estética, principalmente para diminuir o aspeto de rugas e marcas de expressão.
                <br>
                <br>
                Quando aplicado ele relaxa suavemente os músculos faciais, atenuando rugas e conferindo uma aparência mais jovem, serena e renovada. Este tratamento é ideal para quem busca resultados naturais e duradouros, sem perder a expressividade do rosto.
                <br>
                <br>
                Além disso, o Botox é uma solução eficaz para quem sofre de suor excessivo em áreas como mãos, axilas e pés. Ao bloquear temporariamente os sinais nervosos que ativam as glândulas sudoríparas, o tratamento reduz significativamente a produção de suor, oferecendo maior conforto e confiança no dia a dia.
                <br>
                <br>
                Quer seja para revitalizar a sua pele ou controlar a sudorese excessiva, o Botox é uma escolha confiável e acessível que proporciona bem-estar e realça a sua beleza natural.
            </p>
            <img src="/static/img/tratamento-botox.jpg" alt="" class="botox-img">
        </div>

        <div class="golden-line"><p></p></div>
        
        <div class="types-treatment">
            <div class="types">
               <h2>Convencional</h2>
               <p>Procedimento não invasivo que suaviza as linhas de expressão e rugas.</p> 
            </div>
            <div class="types">
               <h2>Baby Botox</h2>
               <p>Utilização de uma quantidade menor de toxina botulínica.</p> 
            </div>
            <div class="types">
               <h2>MicroTox</h2>
               <p>Abordagem que visa criar resultados ainda mais subtis e naturais</p> 
            </div>
            <div class="types">
               <h2>Meso-Tox</h2>
               <p>Combinação da mesoterapia com a toxina botulínica dando um rejuvenescimento facial.</p> 
            </div>
            <div class="types">
               <h2>Tratamento do Masseter</h2>
               <p>Redução da atividade e volume do músculo de mastigação.</p> 
            </div>
            <div class="types">
               <h2>Hiperidrose</h2>
               <p>Controla a produção excessiva de suor na zona axilar, palmar e plantar.</p> 
            </div>
            <div class="types">
               <h2>Tratamento Bruxismo</h2>
               <p>Ajuda a controlar o ranger dos dentes.</p> 
            </div>
            <div class="types">
               <h2>Sorriso Gengival</h2>
               <p>Redução da exposição das gengivas ao sorrir.</p> 
            </div>            
        </div>

        <div class="golden-line"><p></p></div>
    </div>

    <div class="specs-background">
        <div class="treatment-specs">
            <div class="specs">
                <i class="bi bi-calendar3"></i>
                <h2>Sessões</h2>
                <p>1 Sessão + Revisão</p> 
            </div>
            <div class="specs">
                <i class="bi bi-hourglass-split"></i>
                <h2>Duração</h2>
                <p>15-25 Minutos</p> 
            </div>
            <div class="specs">
                <i class="bi bi-heart-fill"></i>
                <h2>Recuperação</h2>
                <p>Imediata</p> 
            </div>
            <div class="specs">
                <i class="bi bi-alarm-fill"></i>
                <h2>Manutenção</h2>
                <p>4-6 Meses</p> 
            </div>
            <div class="specs">
                <i class="bi bi-star-fill"></i>
                <h2>Preços</h2>
                <p>A partir 350€</p> 
            </div>
        </div>
    </div>

    <div class="form">
        <h2>INTERESSADO? MARQUE UMA CONSULTA.</h2>
        <form method="POST" action="/">
            <fieldset>              
            <div class="form-fields">
                <input type="text" class="form-control" id="name" name="name" placeholder="Nome*">
                <input type="email" class="form-control" id="phone" name="phone" placeholder="Email*">
                <input type="tel" class="form-control" id="email" name="email" placeholder="Enter Telemóvel">
                <select class="form-select form-control" id="exampleSelect1">
                    <option>Consulta de Avaliação</option>
                    <option>Tratamento Botox</option>
                    <option>Ácido Hialurónico</option>
                    <option>Harmonização Facial</option>
                    <option>Bio-Estimulador</option>
                    <option>Peeling Químico</option>
                    <option>Lemon Bottle</option>
                    <option>Mesoterapia</option>
                    <option>Collagen Trifecta</option>
                    <option>Remoção de AH</option>
                    <option>Análises</option>
                </select>
                <input type="text" class="form-control" id="name" name="name" placeholder="Diga-nos se tem alguma dúvida">
                <div class="button">
                    <button type="submit" class="btn btn-primary">ENVIAR</button>
                </div>                    
            </div>
            </fieldset>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}    
    </div>

    <div class="footer-background">
        <div class="footer">
        <div>
                <img src="/static/img/santiclinic-logo white.png" alt="" class="logo-footer">
            </div>
            <div class="footer-menu">
                <div class="footer-links">
                    <a href="">SOBRE NÓS</a>
                    <a href="/templates/tratamentos.html">TRATAMENTOS</a>
                    <a href="">CONTACTOS</a>
                </div>
                <div class="footer-links">
                    <a href="">SANTISKIN</a>
                    <a href="">BLOG</a>
                </div>
                <div class="social-footer">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div class="image-footer">
            <img src="/static/img/img-footer-1.png" alt="">
            <img src="/static/img/img-footer-2.png" alt="">
        </div>         
    </div>
        
    