<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamentos - Clínica de Medicina Estética</title>

    <link rel="icon" href="/static/img/santiclinic-logo.png">

    <!--Montserrat font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!--Bootstrap Flatly-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    
    <!--Bootstrap Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/tratamentos.css">
</head>
<body>
    <div class="header">
        <div class="header-top">
            <a href="/templates/index.html"><img src="/static/img/santiclinic-logo.png" alt="santiclinic-logo" class="logo-header"></a>
            <nav class="nav">
                <ul class="links">
                    <li><a href="/templates/index.html">HOME</a></li>
                    <li><a href="/templates/sobre.html">SOBRE NÓS</a></li>
                    <li class="dropdown">
                        <label for="toggle" class="toggle">PROCEDIMENTOS<i class="bi bi-chevron-down"></i>
                        <input type="checkbox" id="toggle" hidden>
                        <ul class="links-dropdown">
                            <li><a href="/templates/tratamentos.html">TRATAMENTOS</a></li>
                            <li><a href="">MICROCIRURGIA</a></li>
                        </ul>
                    </li>
                    <li><a href="/templates/contactos.html">CONTACTOS</a></li>
                    <li><a href="https://santiskin.com/">SANTISKIN</a></li>
                    <li><a href=""><button type="button" class="btn btn-primary">Marcar Consulta</button></a></li>
                </ul>
            </nav> 
        </div> 
        <div class="header-title">
             <h1 class="title">TRATAMENTOS</h1>
        </div>   
    </div>
    

    <div class="treatments-page">
        <p>
          Oferecemos uma gama completa de tratamentos projetados para realçar a sua beleza natural e aumentar sua autoestima. Com técnicas modernas e seguras, os nossos tratamentos visam não apenas melhorar a sua aparência, mas também proporcionar um bem-estar renovado. 
          <br>
          <br>
          Cada procedimento é personalizado para atender às suas necessidades e objetivos. Aqui, cuidamos de você com toda a atenção que merece, ajudando-o a sentir-se mais confiante e satisfeito com sua imagem.  
        </p>
        <div class="treatments">
            <div class="treatment-option">
                <a href="/templates/botox.html">
                    <img src="/static/img/tratamento-botox.jpg" alt="">
                    <h2>TRATAMENTO BOTOX</h2>
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <div class="treatment-option">
                <a href="/templates/acido.html">
                    <img src="/static/img/acido-hialuronico.jpg" alt="">
                    <h2>ÁCIDO HIALURÓNICO</h2>
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <div class="treatment-option">
                <a href="/templates/harmonizacao.html">
                    <img src="/static/img/harmonizacao-facial.jpg" alt=""> 
                    <h2>HARMONIZAÇÃO FACIAL</h2>
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <div class="treatment-option">
                <a href="/templates/bio-estimulador.html">
                    <img src="/static/img/bio-estimulador.jpg" alt="">
                    <h2>BIO-ESTIMULADOR</h2> 
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <div class="treatment-option">
                <a href="/templates/peeling.html">
                    <img src="/static/img/peeling-quimico.jpg" alt="">
                    <h2>PEELING QUÍMICO</h2> 
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <div class="treatment-option">
                <a href="/templates/lemon.html">
                    <img src="/static/img/lemon-bottle.jpeg" alt="">
                    <h2>LEMON BOTTLE</h2>
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <div class="treatment-option">
                <a href="/templates/mesoterapia.html">
                    <img src="/static/img/mesoterapia.jpg" alt="">
                    <h2>MESOTERAPIA</h2> 
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <div class="treatment-option">
                <a href="/templates/collagen.html">
                    <img src="/static/img/collagen-trifecta.jpg" alt="">
                    <h2>COLLAGEN TRIFECTA</h2>
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <div class="treatment-option">
                <a href="/templates/remocao.html">
                    <img src="/static/img/remocao-ah.jpg" alt=""> 
                    <h2>REMOÇÃO DE AH</h2>
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <div class="treatment-option">
                <a href="/templates/analises.html">
                    <img src="/static/img/analises.jpeg" alt="">
                    <h2>ANÁLISES</h2>
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>            
        </div>
    </div>

    <div class="contact-container">
        <div>
            <h2>ENTRE EM CONTACTO CONNOSCO</h2>
            <p class="border-line"></p> 
        </div>
        <div class="contact-grid">
            <div class="address">
                <i class="bi bi-geo-alt icon-header"></i>
                <h3>VENHA AO NOSSO ENCONTRO</h3>
                <p>
                    Praceta Agostinho Ferreira Chaves 5 Lj 4AA <br>
                    800-328 <br>
                    Faro
                </p>
            </div>
            <div class="contacts">
                <i class="bi bi-envelope icon-header"></i>
                <h3>DIRETAMENTE</h3>
                <p>
                    Email 
                    <br>
                    santiskin.pt@gmail.com 
                    <br>
                    <br>
                    Mensagem
                    <br>
                    +351 910 144 032
                    <br>
                    <br>
                    Telefone
                    <br>
                    289 142 114
                </p>
            </div>
            <div class="socials">
                <i class="bi bi-suit-heart icon-header"></i>
                <h3>ACOMPANHE-NOS</h3>
                <a href=""><i class="bi bi-facebook icon-social"></i>   Facebook</a>
                <a href=""><i class="bi bi-instagram icon-social"></i> Instagram</a>
                <a href=""><i class="bi bi-tiktok icon-social"></i>  TikTok</a>
            </div>
        </div>
    </div>

    <div class="footer-background">
        <div class="footer">
           <div>
                <img src="/static/img/santiclinic-logo white.png" alt="" class="logo-footer">
            </div>
            <div class="footer-menu">
                <div class="footer-links">
                    <a href="">SOBRE NÓS</a>
                    <a href="/templates/tratamentos.html">TRATAMENTOS</a>
                    <a href="">CONTACTOS</a>
                </div>
                <div class="footer-links">
                    <a href="">SANTISKIN</a>
                    <a href="">BLOG</a>
                </div>
                <div class="social-footer">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div class="image-footer">
            <img src="/static/img/img-footer-1.png" alt="">
            <img src="/static/img/img-footer-2.png" alt="">
        </div>         
    </div>

</body>
</html>