<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamentos - Clínica de Medicina Estética</title>

    <link rel="icon" href="/static/img/santiclinic-logo.png">

    <!--Montserrat font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!--Bootstrap Flatly-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    
    <!--Bootstrap Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/static/tratamentos.css">
</head>
<body>
    <div class="header">
        <div class="header-top">
            <a href="/templates/index.html"><img src="/static/img/santiclinic-logo.png" alt="santiclinic-logo" class="logo-header"></a>
            <nav class="nav">
                <ul class="links">
                    <li><a href="/templates/index.html">HOME</a></li>
                    <li><a href="/templates/sobre.html">SOBRE NÓS</a></li>
                    <li class="dropdown">
                        <a href="">PROCEDIMENTOS<i class="bi bi-chevron-down"></i></a>
                        <ul class="links-dropdown">
                            <li><a href="/templates/tratamentos.html">TRATAMENTOS</a></li>
                            <li><a href="">MICROCIRURGIA</a></li>
                        </ul>
                    </li>
                    <li><a href="/templates/contactos.html">CONTACTOS</a></li>
                    <li><a href="https://santiskin.com/">SANTISKIN</a></li>
                    <li><a href=""><button type="button" class="btn btn-primary">Marcar Consulta</button></a></li>
                </ul>
            </nav> 
        </div> 
        <div class="header-title">
             <h1 class="title">TRATAMENTOS</h1>
        </div>   
    </div>
    

    <div>
        <p>
          Oferecemos uma gama completa de tratamentos projetados para realçar a sua beleza natural e aumentar sua autoestima. Com técnicas modernas e seguras, os nossos tratamentos visam não apenas melhorar a sua aparência, mas também proporcionar um bem-estar renovado. <br>
          Cada procedimento é personalizado para atender às suas necessidades e objetivos. Aqui, cuidamos de você com toda a atenção que merece, ajudando-o a sentir-se mais confiante e satisfeito com sua imagem.  
        </p>
        <div>
            <div>
                <a href=""><img src="/static/img/tratamento-botox.jpg" alt=""></a>
                <h2>TRATAMENTO BOTOX</h2>
            </div>
            <div>
                <a href=""><img src="/static/img/acido-hialuronico.jpg" alt=""></a>
                <h2>ÁCIDO HIALURÓNICO</h2>
            </div>
            <div>
                <a href=""><img src="/static/img/harmonizacao-facial.jpg" alt=""></a> 
                <h2>HARMONIZAÇÃO FACIAL</h2>
            </div>
            <div>
                <a href=""><img src="/static/img/bio-estimulador.jpg" alt=""></a>
                <h2>BIO-ESTIMULADOR</h2> 
            </div>
            <div>
                <a href=""><img src="/static/img/peeling-quimico.jpg" alt=""></a>
                <h2>PEELING QUÍMICO</h2> 
            </div>
            <div>
                <a href=""><img src="/static/img/lemon-bottle.jpeg" alt=""></a>
                <h2>LEMON BOTTLE</h2>
            </div>
            <div>
                <a href=""><img src="/static/img/mesoterapia.jpg" alt=""></a>
                <h2>MESOTERAPIA</h2> 
            </div>
            <div>
                <a href=""><img src="/static/img/collagen-trifecta.jpg" alt=""></a>
                <h2>COLLAGEN TRIFECTA</h2>
            </div>
            <div>
                <a href=""><img src="/static/img/remocao-ah.jpg" alt=""></a> 
                <h2>REMOÇÃO DE AH</h2>
            </div>
            <div>
                <a href=""><img src="/static/img/analises.jpeg" alt=""></a>
                <h2>ANÁLISES</h2>
            </div>            
        </div>
    </div>

    <div>
        <div>
            <h2>ENTRE EM CONTACTO CONNOSCO</h2>  
        </div>
        <div>
            <div class="morada">
                <h3>VENHA AO NOSSO ENCONTRO</h3>
                <p>
                    Praceta Agostinho Ferreira Chaves 5 Lj 4AA <br>
                    800-328 <br>
                    Faro
                </p>
            </div>
            <div class="contactos">
                <h3>DIRETAMENTE</h3>
                <p>
                    Email 
                    <br>
                    santiskin.pt@gmail.com 
                    <br>
                    <br>
                    Mensagem
                    <br>
                    +351 910 144 032
                    <br>
                    <br>
                    Telefone
                    <br>
                    289 142 114
                </p>
            </div>
            <div class="sociais">
                <h3>ACOMPANHE-NOS</h3>
                <a href="">Facebook</a> <br>
                <a href="">Instagram</a> <br>
                <a href="">TikTok</a>
            </div>
        </div>
    </div>

    <div class="footer">
        <div>
            <img src="/static/img/santiclinic-logo white.png" alt="">
        </div>
        <div>
            <div>
                <a href="">SOBRE NÓS</a>
                <a href="">TRATAMENTOS</a>
                <a href="">CONTACTOS</a>
            </div>
            <div>
                <a href="">SANTISKIN</a>
                <a href="">BLOG</a>
            </div>
            <div>
                <a href="">F</a>
                <a href="">I</a>
                <a href="">T</a>
            </div>
        </div>
    </div>

</body>
</html>